body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #333;
}

.download-section {
    margin-top: 20px;
}

.app-logo {
    width: 100px;
    margin: 10px auto;
}

.download-btn {
    display: block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px auto;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
}

.download-btn:hover {
    background-color: #0056b3;
}

.mac {
    background-color: #333;
}

.mac:hover {
    background-color: #111;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
